.altura-titulo{
    height:30vh
}

.altura-col-icon{
    height: 42vh;
}

@media screen and (max-width:600px) {
    .altura-titulo{
        height: 0;
        font-size: 1.1rem;
    }
    .altura-col-icon{
        height: 30vh;
    }
}