/* ____________________FONTS___________________ */
@font-face {
    font-family: Rubik;
    src: url(../fonts/Rubik-Regular.ttf);
}


/* ____________________KEYFRAMES___________________ */
@keyframes rebote-vertical-hover {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

@keyframes flotar {
    0% {
        transform: translatey(0px);
        -webkit-transform: translatey(0px);
    }

    50% {
        transform: translatey(-14px);
        -webkit-transform: translatey(-14px);
    }

    100% {
        transform: translatey(0px);
        -webkit-transform: translatey(0px);
    }
}

@keyframes deslizar-arriba-abajo-fade {

    0%,
    40% {
        opacity: 0;
        transform: translateY(-60vh);
        -webkit-transform: translateY(-60vh);
    }

    80% {
        opacity: 0.5;
        transform: translateY(4vh);
        -webkit-transform: translateY(4vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

@keyframes deslizar-derecha-izquierda {
    0% {
        transform: translateX(80vw);
        -webkit-transform: translateX(80vw);
    }

    60% {
        transform: translateX(-4vw);
        -webkit-transform: translateX(-4vw);
    }

    80% {
        transform: translateX(4vw);
        -webkit-transform: translateX(4vw);
    }

    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}

@keyframes rotacion-infinita {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@keyframes pulso {
    0%{
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
    }

    50%{
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
    }

    100%{
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
    }
}


/* ____________________GLOBALES____________________ */
* {
    color: #fff;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    list-style-type: none !important;
    scrollbar-width: none;
    text-decoration: none !important;
}

body {
    background: linear-gradient(to top left, #0a192f, #122c3e);
}

main {
    margin-left: 20vw;
}

.title-container{
    height: 16vh;
}

.semi-white {
    color: #ccd6f6;
}

.soft-gray {
    color: #8892b0;
}

.giant-font {
    font-size: 3rem;
}

.bold {
    font-weight: bold;
}

.react-color {
    color: #61dafb;
}

.react-bg-color{
    background-color: #61dafb;
    border: none;
}

.background-react-color{
    background-color: #61dafb;
}

.align-paragraph {
    text-align: left;
}

.deslizar-arriba-abajo-fade {
    animation: deslizar-arriba-abajo-fade ease 4s;
    -webkit-animation: deslizar-arriba-abajo-fade ease 4s;
}

.deslizar-derecha-izquierda {
    animation: deslizar-derecha-izquierda ease-in-out 4s;
    -webkit-animation: deslizar-derecha-izquierda ease-in-out 4s;
}

.rotacion-infinita {
    animation: rotacion-infinita 8s linear 4s infinite normal;
    -webkit-animation: rotacion-infinita 8s linear 4s infinite normal;
}

.hover-grow{
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
}

.hover-grow:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.flotar{
    animation: flotar 4s ease-in-out infinite;
    -webkit-animation: flotar 4s ease-in-out infinite;
}

.shadow-hover:hover{
    box-shadow: rgba(97, 218, 251, 0.4) 0px 30px 90px;
}

.rebote-vertical-hover:hover{
    animation: rebote-vertical-hover ease-in-out .8s;
    -webkit-animation: rebote-vertical-hover ease-in-out .8s;   
}

.contenedor-fondo-gradient-transparente {
    background: linear-gradient(to top, #031621, 90%, #89d1d6);
    height: 100vh;
    margin-left: .2em;
    opacity: .9;
    text-align: center;
}

.border-radius-8{
    border-radius: 8px;
}


/* ____________________IDs____________________ */
#sticky-container-bottom-cohete{
    border: 1px solid #2a8bff;
    border-radius: 50%;
    bottom: 30px;
    cursor: pointer;
    display: flex;
    height: 48px;
    left: 20px;
    position: fixed;
    width: 48px;
    z-index: 9999;
}

#video-fondo {
    bottom: 0;
    height: 100vh;
    left: 0;
    object-fit: cover;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}


/* ____________________MEDIA QUERYS____________________ */
@media screen and (max-width:576px) {
    main{
        margin-left: 0;
    }

    .giant-font{
        font-size: 1.8rem;
    }

    .title-container{
        font-size: 1.6rem;
        height: 0vh;
    }

    .contenedor-fondo-gradient-transparente{
        height: auto;
        margin-left: 0;
        margin-top: 1rem;
        padding-bottom: 10rem;
        padding-top: 10rem;
    }

    .deslizar-arriba-abajo-fade {
        animation: deslizar-arriba-abajo-fade ease 3s;
        -webkit-animation: deslizar-arriba-abajo-fade ease 3s;
    }

    .align-paragraph{
        text-align: center;
    }
}

@media (min-width:577px) and (max-width:992px) {
    .giant-font{
        font-size: 2rem;
    }

    .contenedor-fondo-gradient-transparente{
        min-height: 110vh;
        padding-bottom: 8rem;
        padding-top: 8rem;
    }

    .title-container{
        height: 0;
    }
}

@media (min-width:993px) and (max-width:1200px) {
    .contenedor-fondo-gradient-transparente{
        height: auto;
        margin-top: 1rem;
        padding-bottom: 8rem;
    }
}