@keyframes click-me {
    0% {
        transform: translatey(0px);
        -webkit-transform: translatey(0px);
    }

    50% {
        transform: translatey(-6px);
        -webkit-transform: translatey(-6px);
    }

    100% {
        transform: translatey(0px);
        -webkit-transform: translatey(0px);
    }
}

.click-me{
    animation: click-me 1s ease-in-out infinite;
    -webkit-animation: click-me 1s ease-in-out infinite;
}


.container-presentacion {
    align-items: center;
    display: flex;
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

.container-presentacion p {
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}

#container-btn-bajar{
    border: 2px solid #ab3cff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    bottom: 20px;
    cursor: pointer;
    display: flex;
    position: fixed;
}

@media screen and (max-width:576px) {
    .container-presentacion{
        padding-left: 2%;
        padding-right: 2%;
        text-align: end;
    }

    #linkCv{
        border-bottom: 1px solid #fff;
        color: #fff;
        font-size: .7rem;
        padding-top: 1rem;
        transition: all ease .4s;
    }

    #linkCv:hover{
        border-bottom: 1px solid #61dafb;
        color: #61dafb;
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
}